body {
	padding-top:40px;
}

#topContainer {
	background-image:url("images/Master_Naba_Header.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:400px;
	width:100%;
}

#topRow {
	margin-top:100px;
	text-align:center;
	color:white;
	font-size:40px;
}


